body
{
  text-align:center;
}
h1
{
  font-size:Sans-serif;
  font-size:50px;
}
h3
{
  color:#006400;
}

#image
{
  height:700px;
  width:700px;
 
}
section
{
  margin:auto;
 
}
@media(max-width:350px)
{
img
{
   height:700px;
  width:700px;
 
}
}
